{% extends "layout.html" %}
{% block content %}
<h1>Сайты</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td>
                <a href="/urls/{{ url.id }}">
                    {{ url.name }}
                </a>
            </td>
            <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
